
.home-main-banner {
    width: 100%;
    height: auto; 
    background-position: center top 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.hb-content {
    padding: 4rem 1rem; 
}
.hb-content h4, h5 {
    padding: 1rem 1em;
    margin: 1rem 0; 
}
.hb-content h4 {
    text-transform: uppercase;
    text-shadow: 1px 1px lightgray;

}
.hb-content h5 {
    padding-right: 3.5rem; 
    text-shadow: 2px 2px lightgray;
}