
.home-main-banner {
    width: 100%; 
}
.home-main-banner img {
    max-width: 100%; 
}

.main-banner-content h4 {
    padding-right: 7.5rem; 
    text-transform: uppercase;
}
.main-banner-content h5 {
    padding-right: 7.5rem; 
}

/*
.hb-content h4 {
    text-transform: uppercase;
    text-shadow: 1px 1px lightgray;

}
.hb-content h5 {
    padding-right: 3.5rem; 
    text-shadow: 2px 2px lightgray;
}
*/ 