.home {
    width: 100%; 
}

.home-main-banner img {
    width: 100%; 
    position: absolute; 
}
.hb-content {
    z-index: 100; 
    position: absolute; 
    padding: 4rem 1rem; 
}
.hb-content h4, h5 {
    padding: 1rem 1em;
    margin: 1rem 0; 
}
.hb-content h4 {
    text-transform: uppercase;
    text-shadow: 1px 1px lightgray;

}
.hb-content h5 {
    padding-right: 3.5rem; 
    text-shadow: 2px 2px lightgray;
}