.logo {
    width: 8rem; 
}
.logo img {
    width: 100%; 
}
.nav-item {
    padding: 0 1em; 
    text-decoration-style: none; 
    color: white; 
}
.nav-item:hover, dropdown-item:hover {
    color: gold; 
}

/* Burger Nav */ 