.logo {
    width: 8rem; 
}
.logo img {
    width: 100%; 
}
.nav-item {
    padding: 0 1em; 
    text-decoration-style: none; 
    color: white; 
}
.nav-item:hover {
    color: gold; 
}

/* Burger Nav */ 
#burger-icon, #burger-toggler {
    background-color: black; 
    border: none; 
    text-align: right;
}