@import "~bootstrap/scss/bootstrap";
@import "./../custom.scss"; 


body {
    font-family: Arial, Helvetica, sans-serif; 
}

.App {
    background: $body-bg;
    background: $body-bg-gradient; 
}
#root {
    overflow-x: hidden;
}