@import "~bootstrap/scss/bootstrap";

.contact-container {
    padding: 5% 0; 

    @include media-breakpoint-up(lg) {
        width: 800px; 
        margin-left: auto; 
        margin-right: auto; 
        padding: 2.5% 5%;
    }
}
.contact-main {
    padding: 7.5%; 
}
.contact-content {
    padding: 2.5%;
    
    @include media-breakpoint-up(lg) {
        padding: 2rem 2rem;
    }
}
.contact-content h5 {
    padding: 1rem 1rem;
}
.contact-form-container {
    padding: 2.5% 2.5%; 

    @include media-breakpoint-up(lg) {
        padding: 5% 2.5%;
    }
}
.contact-form {
    padding: 7.5%; 
}